.catalog {
  padding: 106px 0 96px;
}
@media (max-width: 992px) {
  .catalog {
    padding: 128px 0 96px;
  }
}
.catalog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 6px 24px;
  margin: 0 0 24px;
}
@media (max-width: 992px) {
  .catalog__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.catalog__heading-title {
  margin: 0;
  font-weight: 800;
  font-size: 40px;
  line-height: 127%;
  color: #292929;
}
@media (max-width: 992px) {
  .catalog__heading-title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .catalog__heading-title {
    font-size: 24px;
  }
}
.catalog__heading-quantity {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  color: #a5a5a5;
}
@media (max-width: 992px) {
  .catalog__heading-quantity {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .catalog__heading-quantity {
    font-size: 14px;
  }
}
.catalog__heading-filter {
  display: none;
}
@media (max-width: 992px) {
  .catalog__heading-filter {
    display: block;
    padding-top: 24px;
  }
}
.catalog__heading-filter-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 8px 16px;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #000;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}
.catalog__heading-filter-toggler::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/icons/filter.svg) center/cover no-repeat;
}
.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 28px;
}
@media (max-width: 992px) {
  .catalog__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.catalog__filter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 248px;
          flex: 0 0 248px;
  max-width: 248px;
}
@media (max-width: 992px) {
  .catalog__filter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    max-width: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    -webkit-transition: background-color ease-out 0.2s;
    transition: background-color ease-out 0.2s;
  }
}
@media (max-width: 992px) {
  .catalog__filter.active {
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: all;
  }
}
.catalog__filter-wrapper {
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f5f5f5;
}
@media (max-width: 992px) {
  .catalog__filter-wrapper {
    position: relative;
    max-width: 360px;
    max-height: 100dvh;
    -webkit-transform: translateX(-100dvw);
            transform: translateX(-100dvw);
    -webkit-transition: -webkit-transform ease-out 0.2s;
    transition: -webkit-transform ease-out 0.2s;
    transition: transform ease-out 0.2s;
    transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
  }
}
.catalog__filter.active .catalog__filter-wrapper {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.catalog__filter-content {
  padding: 16px;
  background-color: #f5f5f5;
}
@media (max-width: 992px) {
  .catalog__filter-content {
    max-height: calc(100dvh - 32px);
    overflow: auto;
  }
}
.catalog__filter-content > *:last-child {
  margin: 0;
}
.catalog__filter-close {
  display: none;
}
@media (max-width: 992px) {
  .catalog__filter-close {
    display: block;
  }
}
.catalog__filter-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 6px;
  outline: none;
  background: url(../images/icons/ic_round-close.svg) center/cover no-repeat;
  background-color: whitesmoke;
  cursor: pointer;
}
.catalog__filter-title {
  margin: 0 0 16px;
  font-weight: 800;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000;
}
.catalog__filter-block {
  margin: 0 0 24px;
}
.catalog__filter-block-top-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: #292929;
  cursor: pointer;
}
.catalog__filter-block-top-toggler::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16px;
  height: 16px;
  background: url(../images/icons/dropdown.svg) center/12px no-repeat;
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
}
.catalog__filter-block-clear-button {
  display: inline-block;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #e22a45;
  border: none;
  cursor: pointer;
}
.catalog__filter-block.active .catalog__filter-block-top-toggler::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.catalog__filter-block-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  max-height: 0;
  overflow: hidden;
}
.catalog__filter-block-panel::before {
  content: "";
  margin-top: -8px;
}
.catalog__filter-block-panel-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  display: none;
}
.catalog__filter-block-panel.active .catalog__filter-block-panel-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog__filter-block-panel-more {
  display: none;
}
.catalog__filter-block-panel-more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #0082ff;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.catalog__filter-block-panel-more-button::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16px;
  height: 16px;
  background: url(../images/icons/dropdown.svg) center/10px no-repeat;
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
  -webkit-filter: brightness(0) saturate(100%) invert(63%) sepia(69%) saturate(7490%) hue-rotate(194deg) brightness(99%) contrast(107%);
          filter: brightness(0) saturate(100%) invert(63%) sepia(69%) saturate(7490%) hue-rotate(194deg) brightness(99%) contrast(107%);
}
.catalog__filter-block-panel:has(.catalog__filter-block-panel-dropdown) .catalog__filter-block-panel-more {
  display: block;
}
.catalog__filter-block-panel.active .catalog__filter-block-panel-more-button::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.catalog__filter-block.active .catalog__filter-block-panel {
  max-height: none;
}
.catalog__filter-check {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding-left: 24px;
  border: none;
  margin: 0;
}
.catalog__filter-check .form-check-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding-top: 2px;
  width: 100%;
}
.catalog__filter-check .form-check-input {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  height: 18px;
  width: 18px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.catalog__filter-check .form-check-input:checked {
  border-color: #0d6efd;
}
.catalog__filter-check-value {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: calc(100% - 48px);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.catalog__filter-check-count {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40px;
          flex: 0 1 40px;
  font-weight: 400;
  font-size: 14px;
  color: #a5a5a5;
}
.catalog__filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.catalog__filter-price-item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 5px);
          flex: 0 0 calc(50% - 5px);
}
.catalog__filter-price-item-text {
  position: absolute;
  top: 50%;
  left: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.catalog__filter-price-item-input {
  display: block;
  padding: 10px;
  padding-left: 32px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border: none;
  border-radius: 10px;
  outline: none;
}
.catalog__filter-clear-button {
  display: inline-block;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #e22a45;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}
.catalog__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 8px;
  margin: 0 0 50px;
}
.catalog__list-figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 4px);
          flex: 0 0 calc(50% - 4px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}
@media (max-width: 1200px) {
  .catalog__list-figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(66.6666666667% - 4px);
            flex: 0 0 calc(66.6666666667% - 4px);
  }
}
@media (max-width: 992px) {
  .catalog__list-figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 4px);
            flex: 0 0 calc(50% - 4px);
  }
}
@media (max-width: 768px) {
  .catalog__list-figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.catalog__list-figure-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog__list-item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 6px);
          flex: 0 0 calc(25% - 6px);
  padding: 0 0 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1200px) {
  .catalog__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 5.3333333333px);
            flex: 0 0 calc(33.3333333333% - 5.3333333333px);
  }
}
@media (max-width: 992px) {
  .catalog__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 4px);
            flex: 0 0 calc(50% - 4px);
  }
}
@media (max-width: 768px) {
  .catalog__list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.catalog__list-item-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 320px;
  margin: 0 0 13px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f5f5f5;
}
.catalog__list-item-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.catalog__list-item-title {
  margin: 0 0 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #000;
}
.catalog__list-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.catalog__list-item-info-add {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 24px;
  height: 24px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  aspect-ratio: 1/1;
  border: none;
  background: url(../images/icons/plus.svg) center/cover no-repeat;
  background-color: #fff;
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
  cursor: pointer;
}
.catalog__list-item-info-add:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.catalog__list-item-info-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}
.catalog__list-item-info-price-new {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #000;
}
.catalog__list-item-info-price-old {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: line-through;
  color: #c4c4c4;
}
.catalog__list-item-discount {
  position: absolute;
  top: 21px;
  left: 24px;
  z-index: 5;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border-radius: 40px;
  background-color: #fcbc10;
}

.custom-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.custom-pagination__prev, .custom-pagination__next, .custom-pagination__link, .custom-pagination__divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 32px;
  width: auto;
  height: 32px;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
}
.custom-pagination__prev, .custom-pagination__next {
  border: 1px solid #fff;
  cursor: pointer;
}
.custom-pagination__prev_disabled, .custom-pagination__next_disabled {
  background: #c4c4c4;
  opacity: 0.15;
}
.custom-pagination__prev::before, .custom-pagination__next::before {
  content: "";
  display: block;
  width: 12px;
  aspect-ratio: 1/1;
  background: url(../images/icons/next.svg) center/cover no-repeat;
}
.custom-pagination__prev::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.custom-pagination__link, .custom-pagination__divider {
  padding: 9px 4px 7px;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #000;
  border: 1px solid #dfe3e8;
}
.custom-pagination__link.active, .custom-pagination__divider.active {
  font-weight: 700;
  color: #4c81ff;
  border-color: #4c81ff;
}